body {
  font-family: sans-serif;
  background-color: #252525;
  margin: 0;
  color: white;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 97%;
  padding: 20px;
  text-align: center;
  background-color: #000000;
}

.header h1,
h3 {
  margin-top: 0;
}

.gradient-line {
  height: 4px;
  width: 100%;
  background: linear-gradient(70deg, #47cf73, #0ebeff, #47cf73);
}

.language-bar {
  border-radius: 20px;
  margin: 30px;
  padding: 20px 30px 30px 30px;
  background-color: #0a0a0c;
  text-align: center;
  width: fit-content;
}

.card-list {
  display: flex;
  justify-content: center;
}

.level-card {
  border: 1px solid #47cf73;
  border-radius: 10%;
  background-color: rgb(226, 226, 226);
  color: black;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  box-shadow: 0 0.375em 0 #47cf73;
  transition: 0.3s;
}

.level-card:hover {
  background-color: white;
}

.locked {
  opacity: 0.4;
}

.next-button {
  font-size: 30px;
  padding: 10px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: aliceblue;
  color: black;
}

.line {
  display: flex;
  align-items: center;
}

.sentence {
  margin-left: 10px;
  /* may need change */
  height: 50px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  display: flex;
}

.checkbox {
  width: 30px;
  height: 30px;
  background-color: white;
  transition: 0.1s;
}

.correct {
  background-color: green !important;
}

.incorrect {
  background-color: red !important;
}

.word {
  background-color: rgb(212, 211, 211);
  color: black;
  padding: 20px;
  width: 60px;
  margin-bottom: 10px;
}
