body {
  font-family: sans-serif;
  background-color: #252525;
  margin: 0;
  color: white;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 97%;
  padding: 20px;
  text-align: center;
  background-color: #000000;
}

.header h1,
h3 {
  margin-top: 0;
}

.gradient-line {
  height: 4px;
  width: 100%;
  background: linear-gradient(70deg, #47cf73, #0ebeff, #47cf73);
}

.language-bar {
  border-radius: 20px;
  margin: 30px;
  padding: 20px 30px 30px 30px;
  background-color: #0a0a0c;
  text-align: center;
  width: fit-content;
}

.card-list {
  display: flex;
  justify-content: center;
}

.level-card {
  border: 1px solid #47cf73;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  box-shadow: 0 0.375em 0 #47cf73;
  transition: 0.3s;
}

.level-card:hover {
  background-color: white;
}

.card-title {
  font-size: 20px;
}

/* gameplay */

.gameplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #252525;
}

.progress-bar {
  width: 80%;
  margin: 20px;
}

.score {
  font-size: 24px;
  margin: auto;
}

.next-button {
  font-size: 30px;
  padding: 10px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: aliceblue;
  color: black;
}

.sponge {
  width: 100px;
  height: 100px;
}

.story {
  margin-top: 60px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.person-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.sentence {
  background-color: rgba(129, 36, 58, 0.61);
  border-radius: 10px;
  padding: 10px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.hover-word:hover {
  color: red;
} */

.translation-button {
  padding: 7px;
  border-radius: 3px;
  background-color: white;
  margin-left: 10px;
}

.sound-button {
  padding: 7px;
  margin-left: 10px;
  background-color: white;
}

.translation-icon,
.sound-icon {
  width: 40px;
  height: 40px;
}

.narrator-line {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.narrator {
  background-color: rgba(6, 9, 167, 0.61);
  border-radius: 10px;
  padding: 10px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  background-color: rgb(95, 95, 95);
  padding: 20px;
  border-radius: 10px;
  margin: 30px 0;
}

.question-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.question-title-and-sound {
  display: flex;
  align-items: center;
}

.form-sound-button {
  background-color: inherit;
}

.choice {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 21px;
}

.checkbox {
  width: 30px;
  height: 30px;
  background-color: white;
  transition: 0.1s;
  margin-right: 10px;
  border-radius: 5px;
}

.correct {
  background-color: green !important;
}

.incorrect {
  background-color: red !important;
}

.words {
  display: flex;
}

.word {
  background-color: black;
  border-radius: 5px;
  font-size: 21px;
  padding: 10px;
  margin-right: 10px;
}

.answer-words {
  display: flex;
  padding: 15px;
  background-color: #8b8b8b;
  border-radius: 10px;
  margin-bottom: 10px;
}

.visibility-hidden {
  visibility: hidden;
}

.blank {
  background-color: rgb(51, 51, 51);
}
